extends layout

block content
  nav(class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav")
    div(class="container")
      a(href="index.html" class="navbar-brand") LoopLab
      button(class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse")
        span(span class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav ml-auto")
          li(li class="nav-item")
            a(href="#home" class="nav-link") Home
          li(li class="nav-item")
            a(href="#explore" class="nav-link") Explore
          li(li class="nav-item")
            a(href="#create" class="nav-link") Create
          li(li class="nav-item")
            a(href="#share" class="nav-link") Share