extends layout

block content
  //- navbar section
  nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top#main-nav
    div.container
      a.navbar-brand(href="/") LoopLab
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarCollapse")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarCollapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="#home") Home
          li.nav-item
            a.nav-link(href="#explore") Explore
          li.nav-item
            a.nav-link(href="#create") Create
          li.nav-item
            a.nav-link(href="#share") Share
            
    //- home section